<div class="center">
    <h1>Mon panier</h1>
</div>
<div class="center">
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="25%">
                    Produit
                </th>
                <th width="40%">
                    Libelle
                </th>
                <th width="10%">
                    Marque
                </th>
                <th width="10%">
                    Prix
                </th>
                <th width="15%">
                    Categorie
                </th>            
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let articleaffich of articlepanier">
                    <td>{{ articleaffich.name }}</td>
                    <td>{{ articleaffich.label}}</td>
                    <td>{{ articleaffich.brand}}</td>
                    <td>{{ articleaffich.price}}€</td>
                    <td>{{ articleaffich.category}}</td>
                   <td> <button type="button" class="panierbtn" (click)="delete(articleaffich.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
                            </svg>
                            Supprimer
                        </button></td>
                </tr>
                <tr>
                    <th>Prix Total</th>
                    <td>{{total}}€</td>
                </tr>
            </tbody>

    </table>
</div>