<h1>Mon panier</h1>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Produit
            </th>
            <th>
                Libelle
            </th>
            <th>
                Marque
            </th>
            <th>
                Prix
            </th>
            <th>
                Categorie
            </th>            
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articleaffich of articlepanier">
                <td>{{ articleaffich.name }}</td>
                <td>{{ articleaffich.label}}</td>
                <td>{{ articleaffich.brand}}</td>
                <td>{{ articleaffich.price}}€</td>
                <td>{{ articleaffich.category}}</td>
                <button type="button" (click)="delete(articleaffich.id)">Supprimer</button>
            </tr>
            <tr>
                <th>Prix Total</th>
                <td>{{total}}€</td>
            </tr>
        </tbody>

</table>