<h1 class="center">
    Créer un nouveau produit
  </h1>
<div class="center">
    <form #creationForm="ngForm" (ngSubmit)="validate()">
        <p>Marque :
            <select (change)='changeBrand($event)' name="brands" id="brands">
                <option value="">Sélectionner</option>
                <option value="APPLE">Apple</option>
                <option value="ASUS">Asus</option>
                <option value="SAN_DISK">San Disk</option>
                <option value="ARCANITE">Acarnite</option>
                <option value="ENUODA">Enuoda</option>
                <option value="DELL">Dell</option>
                <option value="RHINOSHIELD">Rhinoshield</option>
                <option value="PANASONIC">Panasonic</option>
                <option value="LDLC">LDLC</option>
                <option value="RAZER">Razer</option>
                <option value="SAMSUNG">Samsung</option>
                <option value="ALCATEL">Alcatel</option>
                
            </select>
        </p>
        <hr class="divider">
        <p>Prix : {{ price }} €
            <input
            type='number'
            class='form-control'
            (input)='changePrice($event)'
            />
        </p>
        <hr class="divider">
        <p>Description :
            <input
            type='text'
            class='form-control'
            (input)='changeLabel($event)'
            />
        </p>
        <hr class="divider">
        <p>Nom :
            <input
            type='text'
            class='form-control'
            (input)='changeName($event)'
            />
        </p>
        <hr class="divider">
        <p>Catégorie :
            <select (change)='changeCategory($event)' name="categories" id="categories">
                <option value="">Sélectionner</option>
                <option value="PC_FIXE">Pc fixe</option>
                <option value="PC_PORTABLE">Pc portable</option>
                <option value="ACCESSOIRE_PC">Accessoire pc</option>
                <option value="TELEPHONE_FIXE">Téléphone fixe</option>
                <option value="TELEPHONE_PORTABLE">Téléphone portable</option>
                <option value="ACCESSOIRE_TELEPHONE">Accessoires téléphone</option>
                <option value="CLE_USB">Clé USB</option>
                <option value="DISQUE_DUR">Disque dur</option>
                <option value="ACCESSOIRE_STOCKAGE">Accessoires stockage</option>
            </select>
        </p>
        <hr class="divider">
        <p>Photo :
            <input
            type='text'
            class='form-control'
            (input)='changePhoto($event)'
            />
        </p>
        <button type="submit">Valider</button>
    </form>
</div>