<p>creation works!</p>

<p>Marque : {{ brand }}</p>
<form #creationForm="ngForm" (ngSubmit)="validate()">
    <select (change)='changeBrand($event)' name="brands" id="brands">
        <option value="">Sélectionner</option>
        <option value="APPLE">Apple</option>
        <option value="ASUS">Asus</option>
        <option value="SAN_DISK">San Disk</option>
        <option value="ARCANITE">Acarnite</option>
        <option value="ENUODA">Enuoda</option>
    </select>
    <hr>
    <p>Prix : {{ price }}</p>
    <input
    type='number'
    class='form-control'
    (input)='changePrice($event)'
    />
    <hr>
    <p>Description : {{ label }}</p>
    <input
    type='text'
    class='form-control'
    (input)='changeLabel($event)'
    />
    <hr>
    <p>Nom : {{ name }}</p>
    <input
    type='text'
    class='form-control'
    (input)='changeName($event)'
    />
    <hr>
    <p>Catégorie : {{ category }}</p>
    <select (change)='changeCategory($event)' name="categories" id="categories">
        <option value="">Sélectionner</option>
        <option value="PC_FIXE">Pc fixe</option>
        <option value="PC_PORTABLE">Pc portable</option>
        <option value="ACCESSOIRE_PC">Accessoire pc</option>
        <option value="TELEPHONE_FIXE">Téléphone fixe</option>
        <option value="TELEPHONE_PORTABLE">Téléphone portable</option>
        <option value="ACCESSOIRE_TELEPHONE">Accessoires téléphone</option>
        <option value="CLE_USB">Clé USB</option>
        <option value="DISQUE_DUR">Disque dur</option>
        <option value="ACCESSOIRE_STOCKAGE">Accessoires stockage</option>
    </select>
    <hr>
    <p>Photo : {{ photo }}</p>
    <input
    type='text'
    class='form-control'
    (input)='changePhoto($event)'
    />
    <button type="submit">Valider</button>
</form>