<div class="center"><h1>Bienvenue chez Techpro ! </h1></div>
        <p>Nous sommes un groupe de 4 étudiants universitaire faisant un site de vente en ligne technologique. </p>
        <p>Techpro est un projet en Java 8 et Angular permettant d'ajouter, modifier, supprimer des articles technologiques (ordinateurs,téléphones et stockage).</p>
        <p>Techpro référence les meilleures innovations technologiques : objets connectés,composants éléctroniques et autres accessoires high tech…</p>
        <p>Nous sommes jeunes, motivés, dynamiques, passionnés, et nous voulons, bref, nous avons tout pour réussir !</p>
        
<footer>
    <ul> Membres du Projet :
        <li> Avi Assayag </li>
        <li> Fanny Lourioux </li>
        <li> Trystan Roches </li>
        <li> Romain Vacheret </li>
    </ul>
    <ul>Adresse :
        <p> 20 rue de la bonne note </p>
    </ul>
    <p>@2021 Techpro, inc.</p>
    <ul> Github :
        <li><a href="https://github.com/FannyLourioux/Techpro">Techpro Back-End</a></li>
        <li><a href="https://github.com/FannyLourioux/Techpro-Front">Techpro Front-End</a></li>
    </ul>
</footer>
