.center {
    display: flex;
    justify-content: center;
    margin: 2%;
  }

* {
    margin:0;
    padding:0;
}

body, html
{
    height:100%;
}  

body {
    text-align:center;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    background-color: #4b9ff3;
    color: #fff;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:160px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

.footer-ul{
    padding-right: 3%;
    }