<div class="center"><h1>Bienvenue chez Techpro ! </h1></div>
        <p class="center">Nous sommes un groupe de 4 étudiants universitaire faisant un site de vente en ligne technologique. </p>
        <p class="center">Techpro est un projet en Java 8 et Angular permettant d'ajouter, modifier, supprimer des articles technologiques (ordinateurs,téléphones et stockage).</p>
        <p class="center">Techpro référence les meilleures innovations technologiques : objets connectés,composants éléctroniques et autres accessoires high tech…</p>
        <p class="center">Nous sommes jeunes, motivés, dynamiques, passionnés, et nous voulons, bref, nous avons tout pour réussir !</p>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/img/Apple.png" class="d-block w-10" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/img/Ecouteur.png" class="d-block w-5" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/img/panasonicFixe.png"  class="d-block w-10" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/img/AppleMouse.png"  class="d-block w-10" alt="...">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Prochain</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Précédent</span>
            </button>
          </div>

<footer class="footer">
    <ul class="footer-ul"> Membres du Projet :
        <li> Fanny Lourioux </li>
        <li> Trystan Roches </li>
        <li> Romain Vacheret </li>
    </ul>
    <ul class="footer-ul">Adresse :
        <p> 20 rue de la bonne note </p>
        <p> 92000 Nanterre </p>
    </ul>
    <ul class="footer-ul">@2021 Techpro, inc.</ul>
    <ul class="footer-ul"> Github :
        <li><a href="https://github.com/FannyLourioux/Techpro">Techpro Back-End</a></li>
        <li><a href="https://github.com/FannyLourioux/Techpro-Front">Techpro Front-End</a></li>
    </ul>
</footer>
